.spot{
    border: 2px solid rgb(48, 202, 125);
    background: rgb(236, 231, 231);
    width: 500px;
    height: 500px;

}
#bg{
    background: rgb(235, 231, 231);
    border: 2px solid rgb(172, 218, 152);
    height: 500px;
    text-align: center;
}