.mainbox{
    justify-content: center;
    height: 700px;
    width: 500px;
}
.mais{
    
    text-align: right;
}
.imgs{
    width: 150px !important;
    height: 150px !important;
    border-radius: 50% !important;
    float: right;
    position: relative;
    bottom: 100px;
    right: 300px;
    
}
.recent{
    background-color: lightblue;
    height: min-content;
    width: max-content;
    top: 100px;
    position: relative;
}
.design{
    border: 1px solid white;
    background-color: white;
    position: relative;
    margin-right: 1000px;
    top: 30px;
    left: 300px;
}
.cons{
    float: right;
    border: 1px solid white;
    background-color: white;
    position: relative;
    left: 70px;
    top: -185px;
}
.featured{
    position: relative;
    height: 00px;
    top: 100px;
}

.i1{
    width: 100rem;
    height: 100rem;
    position: relative;
    top: 700px;
}
.dash{
    float: right;
    margin: 10px 500px;
}
.i5{
    width: 100rem;
    height: 100rem;
}
.vibe{
    float: right;
    margin: 10px 500px;
}
.i7{
    width: 100rem;
    height: 100rem;
}
.cons{
    float: right;
    margin: 10px 500px;
}