.mainbox{
    justify-content: center;
}
.main{
    float: right;
    color: white;
    text-align: centers;
    word-spacing: 10px;
    row-gap: 300rem;
    display: flex;
    position: relative;
    text-align: center;
    right: 300px;
    word-spacing: 30px;
    right: 400px;
    
}
.box1{
    background-color:rgb(6, 4, 17) ;
    color: white;
    padding : 50px; 
    border: 7px solid black;
    
   
    
}
.a1{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    float: right;
    margin-top: -30px;
    margin-right: 300px;
}
.a5{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    float: right;
    margin-top: -150px;
    margin-right: -250px;
}
.a7{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    float: right;
    margin-top:  -315px;
    margin-left: 700px;
    margin-right: 350px;
   
}
.s1{
background-color: rgb(180, 157, 25);
color: white;
border-radius: 30%;
height: 40px;
width: 100px;
}
.box5 {
    text-align: center;
    gap: 50px;
    margin-top: 30px;
   height: 500px;
}
.z1 img{
    width: 100px;
    height: 100px;
    
    
}
.z7 img{
    width: 250px;
    height: 400px;
    float: right;
    margin-left: 5px;
    margin-top: 50px;
    gap: 10px;

}
.our{
    float: left;
    margin-top: 50px;
    text-align: left;
    line-height: 18px;
    position: relative;
    right: -10px;
}
.do{
    margin-top: 500px;
    position: relative;
}
.to{
    font-size: 15px;
    color: rgb(65, 63, 63);
}
.r7{
    border: 3px dashed white;
   width: 150px;
   height: 150px;
   border-radius: 100%;
   position:relative;
   left: 700px;
   bottom: 210px;
}
.micro h3{
    background-color: white;
    color: black;
    border: 3px solid black;
    border-radius: 25%;
    width: 210px;
    height: 40px;
    text-align: center;
    float:right;
    margin-right: 300px;
    padding: 10px;
    margin-top: -350px;
}
.x1{
    background-color: white;
    color: black;
    border: 3px solid black;
    border-radius: 25%;
    width: 210px;
    height: 40px;
    text-align: center;
    float: right; 
    padding: 10px;
    margin-right:  50px; 
    margin-top: -250px;
}
.t1{
    color:rgb(65, 63, 63);
    font: size 5px;
}
.t5{
    color: rgb(65, 63, 63);
    font: size 5px;
}
.z1{
    position:relative ;
    width: 300px;
    height: 300px;
    top: 10px;
    right: -250px;
    display: flex;
    gap: 50px;
}
.do{
    background-color:rgb(5, 4, 10);
    color:white; text-align: center;
    height: 400px;
}
.ready{
    color: rgb(59, 25, 212);
    text-align: center;
}
.y1{
    display: flex;
    gap: 5rem;
    font-size: small;
    align-self: center;
    position: relative;
    left: 210px;
    top: 150px;
}
.v1{
    position: relative;
    right: 210px;
}
.h567{
    width: 1px;
}
.z56{
    position: static;
    background-position: 400px;
}
