body{
    color: rgb(1, 19, 19);
    border: 4px;
    
}
table ,th,td {
  border-spacing: 7px;
  border: 4px solid ;
  border-collapse: collapse;
  border-radius: 4px;
  text: size adjust 10px;
  tab-size: 10px;
  height: 100px;;
  width: 1000px;
  position: relative;   
  height: 100px;
  width: 400px;
}
h5{
  text-align: center;
  box-sizing: content-box;
  color: blueviolet;
}
h1{
  text-align: center;
  color:red;
}
h4{
  text-align: center;
}
h6{
  text-align: right;
}
input{
  text-align: right;
}
table{
  position: relative;
  right: -300px;
  width: 700px;
}
.z{
  border: 1px solid black;
  width: max-content;
  height: max-content;
  background-color: black;
  color: white;
  align
}
    